{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Index page</title>
	<link rel="stylesheet"  href="{% static 'css/flex.css' %}">
</head>
<body>
	<!-- Main Header -->
	<header>
		<h1>Indian Cricketers</h1>
		<div id="links">
			<a href="">MS Dhoni</a>
			<a href="">Virat Kohli</a>
			<a href="">Rishab Pant</a>
			<a href="">KL Rahul</a>
		</div>
	</header>

	<!-- Landing Page -->
	<div id="landing">
		<div class="content">
			<h1 style="color:white">All The Best Team India</h1>
			<p style="color:white">“The joy of doing well as a batsman for your country is much more than that little joy of going for a party and enjoying music. It is a completely different high, and I get high by the performances. Thats what I enjoy now.” .</p>
			<button>Watch Live Match</button>
		</div>
	</div>


	<!-- Home Section -->
	<section id="home-section">
		<h1>Enjoy The World Cup</h1>
		<p>Winning the World Cup was very special because it meant so much to so many. One thing about our country that is constant is cricket. The smile it brought to people's faces was the thing I shall always remember. It reminded me, reminded all of us, of our importance to the lives of the Indian people less lucky than we are.</p>
		<button>Watch Live Matches</button>
	</section>


	<!-- Playing 11 Team -->
	<section id="players-section">
		<h1>India Team Eleven</h1>
		<p>India ODI squad WTC final: Rohit Sharma (Captain), Shubman Gill, Cheteshwar Pujara, Virat Kohli, Ajinkya Rahane, K L Rahul, KS Bharat (wk), Ravichandran Ashwin, Ravindra Jadeja, Axar Patel, Shardul Thakur, Mohd. Shami, Mohd. Siraj, Umesh Yadav, Jaydev Unadkat.</p>
		<div id="players">
			<img src="{% static 'images/cricketers/ms dhoni.webp' %}" alt="">
			<img src="{% static 'images/cricketers/hardhik.jpg' %}" alt="">
			<img src="{% static 'images/cricketers/rohit.jpg' %}" alt="">
			<img src="{% static 'images/cricketers/rishab.avif' %}" alt="">
			<img src="{% static 'images/cricketers/sanju.webp' %}" alt="">
			<img src="{% static 'images/cricketers/iyer.jpg' %}" alt="">
		</div>
	</section>

	<!-- Top Order Batsmen -->
	<section id="top-orders">
		<h1>Top Order Batsmen's</h1>
		<p>The India men's national cricket team represents India in men's international cricket. It is governed by the Board of Control for Cricket in India (BCCI), and is a Full Member of the International Cricket Council (ICC) with Test, One Day International (ODI) and Twenty20 International (T20I) status..</p>
		<div id="batsmen-1" style="margin-bottom:20px">
			<figure>
				<img src="{% static 'images/cricketers/ishan.webp' %}"alt="">
				<figcaption>Ishan Kishan</figcaption>
				<p>Ishan Kishan (born 18 July 1998) is an Indian international cricketer who plays for the Indian national cricket team as a wicket-keeper batsman </p>
				<button>View Full Details</button>
			</figure>
			<figure>
				<img src="{% static 'images/cricketers/rishab.avif' %}" alt="">
				<figcaption>Rishab Pant</figcaption>
				<p>Rishabh Pant is an Indian professional cricketer who plays as a wicket-keeper batsman for the Indian national cricket team.</p>
				<button>View Full Details</button>
			</figure>
			<figure>
				<img src="{% static 'images/cricketers/virat2.jpg' %}" alt="">
				<figcaption>Virat Kohli</figcaption>
				<p>Born and raised in New Delhi, Kohli trained at the West Delhi Cricket Academy and started his youth career with the Delhi Under-15 team.</p>
				<button>View Full Details</button>
			</figure>
		</div>
		<div id="batsmen-1" style="margin-bottom:20px;">
			<figure>
				<img src="{% static 'images/cricketers/sanju1.jpg' %}" alt="">
				<figcaption>Sanju Samson</figcaption>
				<p>He made his India debut in the 2015 T20 international away against Zimbabwe. He made his One Day International debut in 2021 against Sri Lanka. </p>
				<button>View Full Details</button>
			</figure>
			<figure>
				<img src="{% static 'images/cricketers/ruturaj.avif' %}" alt="">
				<figcaption>Ruturaj Gaikwad</figcaption>
				<p>In July 2023, Gaikwad was also India's T20I Captain for the 2022 Asian Games. He led India to win the Gold Medal and became the first Indian captain </p>
				<button>View Full Details</button>
			</figure>
			<figure>
				<img src="{% static 'images/cricketers/ms dhoni.webp' %}" alt="">
				<figcaption>MS Dhoni</figcaption>
				<p>Dhoni is the first cricketer to be a winning captain of all three major ICC trophies,India won the 2007 ICC World Twenty20, the 2011 World Cup </p>
				<button>View Full Details</button>
			</figure>
		</div>
		<div id="batsmen-1">
			<figure>
				<img src="{% static 'images/cricketers/rinku.avif' %}" alt="">
				<figcaption>Rinku Sing</figcaption>
				<P>Rinku Khanchand Singh (born 12 October 1997) is an Indian international cricketer who plays for the Indian national cricket team.</P>
				<button>View FUll Details</button>
			</figure>
			<figure>
				<img src="{% static 'images/cricketers/shivam.jpg' %}" alt="">
				<figcaption>Shivam Dube</figcaption>
				<p>Shivam Dube was born on 26 June 1993 in Mumbai, India. He stopped playing cricket at the age of 14 as he was overweight </p>
				<button>View Full Details</button>
			</figure>
			<figure>
				<img src="{% static 'images/cricketers/siraj.avif' %}" alt="">
				<figcaption>Mohammad Siraj</figcaption>
				<p>He took 4 wickets in the first ODI which helped the team to win the match for 12 runs. On January 21, 2023 Siraj became the No. 1</p>
				<button>View Full Details</button>
			</figure>
		</div>
	</section>


<div style="margin-bottom:500px;"></div>
</body>
</html>